*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
import-summary.txt
viewpageindicator/



